<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/dashboardheader') %>
    <title>Profile</title>
    <script src="/client.js"></script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar-profile') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../partials/topbar', user) %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 text-white bg-primary text-center p-5">
                  <img class="img-profile rounded-circle" src="/img/undraw_profile.svg" style="width: 10em;">
                  <h3 class="mt-4 mb-0">
                    <%= user.name %>
                  </h3>
                  <!-- <button class="btn bg-white btn-sm pl-3 pr-3" data-toggle="modal" data-target="#EditProfile">Edit
                Profile</button> -->
                </div>
                <div class="col-md-7 bg-white pt-5 pb-5">
                  <h3 class="pl-4 mb-0">Personal Information</h3><br>
                  <div class="row justify-content-center">
                    <div class="col-6 text-left">
                      Full Name <br><br>
                      Email<br><br>
                    </div>
                    <div class="col-5">
                      <%= user.name %><br><br>
                        <%= user.email %><br><br>
                    </div>
                    <button type="button" class="btn btn-primary" id="subscribe">Subscribe to Notifications</button>
                  </div>
                  <br>

                </div>
              </div>
            </div>
            <!-- /.container-fluid -->
            <br>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2022</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <%- include('../partials/script') %>

</body>

</html>